@use '../components/Todo/Todo.scss' as *;

body {
    margin: 0;
    padding: 0;
    background-color: $base-color;
    display: grid;
}

nav {
    background-color: $navbar;
    width: 100%;
    position: sticky;
    top: 0;
}

section {
    display: flex;
    justify-content: center;
}